*{
    font-size: 25px;
    margin: 0;
    /* background-image: url(https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.banner{
    color: white;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   padding: 250px;
    vertical-align: middle;
   
}
.heading{
    font-size: 54px;
    font-family: sans-serif;
    font-weight: 900;
    margin-bottom: 30px;

}

.paragraph{
    text-align: center;
    /* width: 400px; */
    margin: 0, auto;

}
.button{
    margin: 10px;
    border: 2px solid beige;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    cursor: pointer;
}